#title {
	font-family: Verdana;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 5px #a52a2a;
}

#subtitle {
	font-family: Verdana;
	font-size: 16px;
	text-align:center;
	font-style: italic;
}

.type {
	color: #FF9900;
}

input {
	border: 2px solid #AA88FF;
}

.focus {
    border: 2px solid #FF9900;
    background-color: #FFEEAA;
}

body {
	background-repeat: repeat;
	background-image:url(http://docs.webplatform.org/w/skins/webplatform/images/bg-pattern.png);
}

#head {
	width: 200px;
	background:#f9f7f3;
	border-radius:5px;
	box-shadow:0 0 1px #a7a9ac;
	margin-bottom:20px;
	position:relative;
	margin:auto;
}

#button {
    display: inline-block;
    height: 20px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    font-family: arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    margin-top: 2px;
}

.page{
	background:#f9f7f3;
	border-radius:5px;
	box-shadow:0 0 1px #a7a9ac;
	margin-bottom:20px;
}


.container{
	position:relative;
	width:950px;
	margin: auto;
}
@media screen and (max-width:950px){
	.container{
		padding:0 10px;
		width:auto
		}
	}
}