#title {
	font-family: Verdana;
	font-size: 20px;
	text-align:center;
	text-shadow: 5px 5px 5px #a52a2a ;
}

#subtitle {
	font-family: Verdana;
	font-size: 16px;
	text-align:center;
	font-style: italic;
}

.type {
	
}